
      .cls-1, .cls-2 {
        fill: #4f772d;
      }

      .cls-1, .cls-3 {
        stroke: #006837;
        stroke-miterlimit: 10;
      }

      .cls-4 {
        fill: #6096ba;
      }

      .cls-4, .cls-5, .cls-6, .cls-2, .cls-7, .cls-8, .cls-9, .cls-10 {
        stroke-width: 0px;
      }

      .cls-6 {
        fill: #adc178;
      }

      .cls-3 {
        fill: none;
      }

      .cls-7, .cls-11 {
        fill: #132a13;
      }

      .cls-12 {
        fill: #d6f2d6;
        font-size: 28px;
      }

      .cls-12, .cls-13, .cls-14, .cls-15, .cls-11 {
        font-family: GoudyStout, 'Goudy Stout';
      }

      .cls-13 {
        font-size: 26px;
      }

      .cls-8 {
        fill: #f2f2f2;
        opacity: .37;
      }

      .cls-9 {
        fill: #84a98c;
      }

      .cls-14 {
        font-size: 30px;
      }

      .cls-10 {
        fill: #006837;
      }

      .cls-15 {
        font-size: 24px;
      }

      .cls-11 {
        font-size: 120px;
      }
    